* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Varela Round", sans-serif;
  color: white;
}

.header {
  background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.4),
      rgba(250, 250, 250, 0.7)
    ),
    url("images/montagne.jpg");
  background-size: cover;
  background-position: center;
  height: 95vh;
  border: 1px solid black;
 
  clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
  text-align: center;
  /*  
    Solution alternative si nous supprimons le positionnement absolue
    padding-top: 400px;
    */
}

.header h1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 5rem;
  letter-spacing: 1.2rem;
  border: 1px solid black;
  padding-left: 15px;
  white-space: nowrap; /* empeche le passage à la ligne */
  /*
    Solution alternative si nous supprimons le positionnement absolue 
    width: 50%;
    margin: 0 auto; */
}

.header h2 {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  letter-spacing: 1rem;
  background-color: black;
  padding-left: 15px;
  white-space: nowrap; /* empeche le passage à la ligne */
  /* 
    Solution alternative si nous supprimons le positionnement absolue 
    display: inline-block;
    margin: 50px auto;*/
}

@media screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 8px;
  }
}
